{% extends 'index.html' %}
{% load static %}
{% block content %}
<div id="green" style="padding-bottom: 60px">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-offset-2 centered" id="content">
                <div class="col-sm-12" id="content">
                  <table>
                      {% csrf_token %}
                  <h4 class="booking-number">{{ booking.booking_number }}</h4>
                  <p class="booking-email"><span style="color: black"> eMail: </span>{{ booking.customer.email }}</p>
                  <p class="booking-email"><span style="color: black"> Name: </span>{{ booking.customer }}</p>
                  <p class="booking-phone"><span style="color: black"> Phone: </span>{{ booking.customer.profile.phone }}</p>
                  <p class="booking-address"><span style="color: black"> Address: </span>{{ booking.dropoff }}</p>
                  <p class="booking-starts"><span style="color: black"> Starts: </span>{{ booking.starts }}</p>
                  <p class="booking-return"><span style="color: black"> Ends: </span>{{ return_time }}</p>
                  <form method="post" action="">
                      {% csrf_token %}
                      <input id="booking-id" type="hidden" value={{ booking.id }}>
                      <button type="submit" class="btn btn-lg btn-primary" id="return">Close Booking</button>
                  </form>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
{% endblock %}
