{% extends 'index.html' %}
{% load static %}
{% block content %}
<div id="green" style="padding-bottom: 60px">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-offset-2 centered" id="content">
              <form id="addBooking" method="POST" action="">
                    {% csrf_token %}
                    <h3>Booking Information</h3>
                    <form method="post" action="">
                        {% csrf_token %}
                    {{ form.as_p}}
                    <button type="submit">Book</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
{% endblock %}
