body
    {
        background: url(/static/Images/2.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    
#content img
    {
        height: 100%;
        width: 100%;
        text-align:center;
    }