body
    {
        background: url("/static/Images/3.jpg") no-repeat center center fixed;
        background-size: cover;
        text-align: center;
    }

#content img
    {
        margin-top: 40%;
        margin-bottom: 10%;
        width: 50%
}

input[type="text"], input[type="email"], input[type="submit"]
    {
        width: 60%;
        height: 25%;
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 90%;
        padding: 1%;
        border: none;
    }

input[type="submit"]
    {
        color: black;
        background-color:#A3272A;
        border:none;
        font-weight: 600;
        font-size: 100%;
        width: 61%;
        margin-bottom: 59%;
}
