{% load static %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>SnapCar | Cyberjaya Car Rental</title>
		<link href="{% static 'css/foundation-icons.css' %}" rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/foundation.css' %}">
		<link rel="stylesheet" href="{% static 'css/app.css' %}">
	</head>
	<body>
		<div class="top-bar">
		  <div class="top-bar-title">
			<span data-responsive-toggle="responsive-menu" data-hide-for="medium">
			  <button class="menu-icon dark" type="button" data-toggle></button>
			</span>
			<div class="logo"><strong>SnapCar</strong></div>
		  </div>
		  <div id="responsive-menu">
			<div class="top-bar-left">
			  <ul class="dropdown menu" data-dropdown-menu>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact Us</a></li>
			  </ul>
			</div>
			<div class="top-bar-right">
		        <div id="responsive-menu">
			        <ul class="menu">
			            <ul class="dropdown menu" data-dropdown-menu>
				            <li>
                                <a href="#">Account</a>
                                <ul class="menu vertical">
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Rigster</a></li>
                                </ul>
				            </li>
			            </ul>
                    </ul>
			    </div>
		    </div>
		</div>
        </div>
		{% block body %}
		{% endblock %}
		<script src="{% static 'js/vendor/jquery.js' %}"></script>
		<script src="{% static 'js/vendor/foundation.js' %}"></script>
		<script src="{% static 'js/vendor/what-input.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>
	</body>
</html>
