{% extends 'profile.html' %} {% load static %} {% block body %}
<div class="col-sm-12" id="content">
  <img src="{% static 'Images/white.png' %}"><br> Register
  <form method="POST">
      {% csrf_token %}
    <div class="row column log-in-form">

      <input type="text" placeholder="U s e r n a m e">

      <input type="text" placeholder="E m a i l">

      <input type="text" placeholder="M o b i l e No.">

      <input type="text" placeholder="P a s s w o r d">

      <input type="text" placeholder="R e - t y p e  P a s s w o r d">

      <input type="submit" name="submit" value="R E G I S T E R">
    </div>
  </form>
</div>
</div>
{% endblock %}
